/**
 * [使盒子模型成为 border-box，在改变 margin 或者 padding 时不改变宽高]
 */
* {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;

  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
  }
}

/**
 * [重置 hr 样式]
 */
hr {
  box-sizing: content-box;
  height    : 0;
  overflow  : visible;
}

/**
 * [重置 img 样式]
 */
img {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}
