/** 屏幕(screen)和打印(print)的样式表 **/
@media print {
  * {
    background        : transparent !important;
    color             : black !important;
    text-shadow       : none !important;
    filter: none !important;
    -ms-filter: none !important;
    color             : #000 !important;
    text-shadow       : none !important;
    background        : transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow        : none !important;

    &:after,
    &:before {
      color             : #000 !important;
      text-shadow       : none !important;
      background        : transparent !important;
      -webkit-box-shadow: none !important;
      box-shadow        : none !important;
    }
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }

    &[href^="#"]:after,
    &[href^="javascript:"]:after {
      content: "";
    }
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  blockquote,
  pre {
    border           : 1px solid #CCC;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows : 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
